{{- /*
Copyright 2025 GoodRx, Inc.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
*/}}

{{- $name := "app-secrets" -}}
{{- $ns   := .Release.Namespace         -}}
{{- if and
      .Release.IsInstall
      (not (lookup "v1" "Secret" $ns $name))
   }}
apiVersion: v1
kind: Secret
metadata:
  name: app-secrets
  namespace: {{ .Release.Namespace }}
  annotations:
    "helm.sh/hook": pre-install
    "helm.sh/hook-weight": "0"
    "helm.sh/resource-policy": keep
type: Opaque
data:
  # CI secrets
  CODEFRESH_API_KEY: {{ .Values.secrets.codefreshApiKey | default "not_setup" | b64enc | quote }}
  FASTLY_TOKEN: {{ .Values.secrets.fastlyToken | default "not_setup" | b64enc | quote }}
  # Github app secrets
  GITHUB_PRIVATE_KEY: {{ .Values.secrets.githubPrivateKey | default "not_setup" | b64enc | quote }}
  GITHUB_CLIENT_SECRET: {{ .Values.secrets.githubClientSecret | default "not_setup" | b64enc | quote }}
  GITHUB_WEBHOOK_SECRET: {{ .Values.secrets.githubWebhookSecret | default "not_setup" | b64enc | quote }}
  GITHUB_APP_ID: {{ .Values.secrets.githubAppId | default "not_setup" | b64enc | quote }}
  GITHUB_CLIENT_ID: {{ .Values.secrets.githubClientId | default "not_setup" | b64enc | quote }}
  GITHUB_APP_INSTALLATION_ID: {{ .Values.secrets.githubInstallationId | default "not_setup" | b64enc | quote }}
  # Database secrets
  {{- if .Values.secrets.databaseUrl }}
  DATABASE_URL: {{ .Values.secrets.databaseUrl | b64enc | quote }}
  {{- end }}
  {{- if .Values.secrets.appDbHost }}
  APP_DB_HOST: {{ .Values.secrets.appDbHost | b64enc | quote }}
  {{- end }}
  {{- if .Values.secrets.appDbPort }}
  APP_DB_PORT: {{ .Values.secrets.appDbPort | toString | b64enc | quote }}
  {{- end }}
  {{- if .Values.secrets.appDbUser }}
  APP_DB_USER: {{ .Values.secrets.appDbUser | b64enc | quote }}
  {{- end }}
  {{- if .Values.secrets.appDbPassword }}
  APP_DB_PASSWORD: {{ .Values.secrets.appDbPassword | b64enc | quote }}
  {{- end }}
  {{- if .Values.secrets.appDbName }}
  APP_DB_NAME: {{ .Values.secrets.appDbName | b64enc | quote }}
  {{- end }}
  {{- if .Values.secrets.appDbSsl }}
  APP_DB_SSL: {{ .Values.secrets.appDbSsl | toString | b64enc | quote }}
  {{- end }}
  # Redis
  {{- if .Values.secrets.redisUrl }}
  REDIS_URL: {{ .Values.secrets.redisUrl | b64enc | quote }}
  {{- end }}
  {{- if .Values.secrets.appRedisHost }}
  APP_REDIS_HOST: {{ .Values.secrets.appRedisHost | b64enc | quote }}
  {{- end }}
  {{- if .Values.secrets.appRedisPort }}
  APP_REDIS_PORT: {{ .Values.secrets.appRedisPort | toString | b64enc | quote }}
  {{- end }}
  {{- if .Values.secrets.appRedisPassword }}
  APP_REDIS_PASSWORD: {{ .Values.secrets.appRedisPassword | b64enc | quote }}
  {{- end }}
  {{- if .Values.secrets.appRedisTls }}
  APP_REDIS_TLS: {{ .Values.secrets.appRedisTls | toString | b64enc | quote }}
  {{- end }}
  # AI Agent
  {{- if .Values.secrets.aiApiKey }}
  AI_API_KEY: {{ .Values.secrets.aiApiKey | b64enc | quote }}
  {{- end }}
  {{- if .Values.secrets.geminiApiKey }}
  GEMINI_API_KEY: {{ .Values.secrets.geminiApiKey | b64enc | quote }}
  {{- end }}
{{- end }}
